body {
    background-color: darkblue;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header h1 {
    color: yellowgreen;
    -webkit-text-stroke: white 2px;
    font-size: 4em;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:active {
    border: dashed yellowgreen 3px;
    padding: 4px;
}

