body {
    background-color: darkblue;
    box-sizing: border-box;
}

#article-content {
    color: white;
    margin: 0 20% 0 20%;
    min-width: 200px;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.4em;
}

img {
    max-width: 100%;
    border: dashed 2px white;
}

iframe {
    min-width: 100%;
    min-height: 500px;
    border: dashed 2px white;
}

a {
    color: white;
    text-decoration: none;
}