:root {
    --background: rgb(26, 71, 26);
    --accent: rgb(255, 0, 0);
}

body {
    background-color: var(--background);
    box-sizing: border-box;
}

#article-content {
    color: white;
    margin: 0 20% 0 20%;
    min-width: 200px;
}

h1 {
    font-size: 4em;
    font-family: 'Arial Narrow';
}

p {
    font-size: 1.4em;
}

img {
    max-width: 100%;
    border: dashed 2px var(--accent);
}

iframe {
    min-width: 100%;
    min-height: 500px;
    border: dashed 2px var(--accent);
}

a {
    color: white;
    text-decoration: none;
}

.em {
    padding: 10px;
    border: solid 1px var(--accent);
}